<div class="container header">
    <div class="navbar-header">
        <div class="col-md-6" id="fl-left">
            <h1><a href="/">CommonClarity</a></h1>
        </div>
        <div class="col-md-6" id="fl-right">
            <ul>
                <li><a href="/#/about">ABOUT</a></li>
                <li><a href="/#/login">LOG IN</a></li>
                <li><a href="/#/signup" class="button special">SIGN UP</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container under-nav">
    <h1 class="cover-heading">CommonClarity</h1>
    <h3 class="lead">Transforming Common Core test data into actionable insights to inform instruction</h3>
    <p>To view a sample dashboard, log in using <span class="teal-text lower">common(at)clarity(dot)com / password.</span></p><br>
    <a href="/#/about" class="button special">LEARN MORE</a>

</div>