<div class="container header">
    <div class="navbar-header">
        <div class="col-md-6" id="fl-left">
            <h1><a href="/">LOOP</a></h1>
        </div>
        <div class="col-md-6" id="fl-right" ng-controller="LogoutController">
            <ul>
                <li><a href="/#/reports">REPORTS</a></li>
                <li><a href="/#/settings">SETTINGS</a></li>
                <li><a href="/#/logout" class="button special" ng-click="logoutUser()">LOG OUT</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="large-under-nav" ng-controller="ReportsController">
    <h2>REPORTS</h2>

    <button ng-click="changeClick()" ng-show="importClickedButton" class="button special">IMPORT TEST DATA</button>

    <div ng-show="importClicked">
        <form action="/upload/" method="POST" enctype="multipart/form-data">
            <h4>SELECT A CLASS:</h4>
                <select ng-model="cohort_select" name="cohort" id="cohort" required="required" class="form-field">
                    <option ng-repeat="cohort in cohorts" value="{{cohort.cohort_id}}">{{cohort.name}}</option>
                </select><br><br>
            TEST NAME: <input type="text" name="test_name" class="form-field"><br><br>
            TEST DATE: <input type="date" name="test_date" class="form-field"><br><br>
            <input type="file" name="csvfile" class="form-field"> <br><br>

            <input type="submit" name="submit" value="IMPORT TEST" ng-show="importClickedButton = true" class="button special">
        </form>
    </div>
    <hr>
    <div>
        <h3>VIEW REPORTS BY:</h3>
        <form name="reportCohort">

            SELECT A CLASS: <select ng-model="selectedCohort" name="cohort" id="cohort" required="required" class="form-field">
                <option value="0">All Classes</option>
                <option ng-repeat="cohort in cohorts" value="{{cohort.cohort_id}}">{{cohort.name}}</option>
            </select><br><br>

            <div ng-disabled="!selectedCohort" ng-show="selectedCohort > 0">
            SELECT A STUDENT (optional): <select ng-model="selectedStudent" name="student" id="student" class="form-field">
                <option ng-repeat="student in cohorts[selectedCohort - 1].students" value="{{student}}">{{student.name}}</option>
            </select><br><br>
            </div>
            <button ng-click="viewReport()" class="button special" id="update">VIEW REPORT</button>
        </form>

        <h2 ng-show="allSelected">REPORTS FOR ALL CLASSES:</h2>
        <h2 ng-model="selectedUser" ng-show="cohortSelected">REPORTS FOR {{selectedUser | uppercase}}:</h2>
        <h2 ng-model="selectedUser" ng-show="studentSelected">REPORTS FOR {{selectedUser | uppercase}}:</h2>

    </div>

    <div ng-show="viewReportClicked">
        <form action="selectedReport">
            <input type="radio" ng-model="selectedSubReport" value="overall" ng-checked="true">VIEW OVERALL
            <input type="radio" ng-model="selectedSubReport" value="byStandard">VIEW BY STANDARD<br>
        </form>

    </div>

    <div class="chart" ng-show="allSelected">
        <d3-stacked-bars ng-show="selectedSubReport === 'overall'" data="allCohortsData"></d3-stacked-bars>
        <d3-stacked-bars-wide ng-show="selectedSubReport === 'byStandard'" data="allStandard"></d3-stacked-bars-wide>
    </div>



    <div class="chart" ng-show="cohortSelected">
        <d3-stacked-bars ng-show="selectedSubReport === 'overall'" data="oneCohortData"></d3-stacked-bars>
        <d3-stacked-bars-wide ng-show="selectedSubReport === 'byStandard'" data="cohortStandard"></d3-stacked-bars-wide>
    </div>


    <div class="chart" ng-show="studentSelected">
        <d3-stacked-bars ng-show="selectedSubReport === 'overall'" data="oneStudentData"></d3-stacked-bars>

    </div>


</div>










</div>
