<div class="container header">
    <div class="navbar-header">
        <div class="col-md-6" id="fl-left">
            <h1><a href="/">LOOP</a></h1>
        </div>
        <div class="col-md-6" id="fl-right" ng-controller="LogoutController">
            <ul>
                <li><a href="/#/reports">REPORTS</a></li>
                <li><a href="/#/settings">SETTINGS</a></li>
                <li><a href="/#/logout" class="button special" ng-click="logoutUser()">LOG OUT</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="large-under-nav" ng-controller="ReportsController">
    <h2>REPORTS</h2>

    <button ng-click="changeClick()" ng-show="import_clicked_button" class="button special">IMPORT TEST DATA</button>

    <div ng-show="import_clicked">
        <form action="/upload/" method="POST" enctype="multipart/form-data">
            <h4>SELECT A CLASS:</h4>
                <select ng-model="cohort_select" name="cohort" id="cohort" required="required" class="form-field">
                    <option ng-repeat="cohort in cohorts" value="{{cohort.cohort_id}}">{{cohort.name}}</option>
                </select><br><br>
            TEST NAME: <input type="text" name="test_name" class="form-field"><br><br>
            TEST DATE: <input type="date" name="test_date" class="form-field"><br><br>
            <input type="file" name="csvfile" class="form-field"> <br><br>

            <input type="submit" name="submit" value="IMPORT TEST" ng-show="import_clicked_button = true" class="button special">
        </form>
    </div>
    <hr>
    <div>
        <h3>SELECT A GROUP TO VIEW REPORTS BY</h3>
        <h4>Reports can be viewed across all classes, by a single class, or by a single student.</h4>
        <form name="report_cohort">
            SELECT A CLASS: <select ng-model="selectedCohort" name="cohort" id="cohort" required="required" class="form-field">
                <option value="0">All Classes</option>
                <option ng-repeat="cohort in cohorts" value="{{cohort.cohort_id}}">{{cohort.name}}</option>
            </select><br><br>

            <div ng-disabled="!selectedCohort" ng-show="selectedCohort > 0">
            SELECT A STUDENT (optional): <select ng-model="selectedStudent" name="student" id="student" class="form-field">
                <option ng-repeat="student in cohorts[selectedCohort - 1].students">{{student.name}}
                </option>
            </select><br><br>
            </div>

            <button ng-click="viewReport(selectedCohort, selectedStudent)" class="button special">VIEW REPORT</button>
        </form>

        <h3 ng-show="all_selected">REPORTS FOR ALL CLASSES:</h3>
        <h3 ng-model="selectedUser" ng-show="cohort_selected">REPORTS FOR {{selectedUser | uppercase}}:</h3>

    </div>

    <div class="chart">
        <d3-stacked-bars data="all_cohorts_data"></d3-stacked-bars>
    </div>

</div>










</div>
