<div class="container header">
    <div class="navbar-header">
        <div class="col-md-6" id="fl-left">
            <h1><a href="/">LOOP</a></h1>
        </div>
        <div class="col-md-6" id="fl-right" ng-controller="LogoutController">
            <ul>
                <li><a href="/#/reports">REPORTS</a></li>
                <li><a href="/#/settings">SETTINGS</a></li>
                <li><a href="/#/logout" class="button special" ng-click="logoutUser()">LOG OUT</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="large-under-nav" ng-controller="SettingsController">
    <h2>SETTINGS</h2>

    <table class="big-table">
        <tr>
            <th>
                <h2>ADD NEW CLASS</h2>
            </th>
            <th class="border-column">
                <h2>VIEW CLASSES</h2>
            </th>
        </tr>
        <tr>
            <td>
                <form name="class">
                    <input type="text" class="form-field" placeholder="ENTER CLASS NAME" ng-model="cohort.name" /><br><br>
                    <h3>ADD STUDENTS</h3>
                    <table id="add-student-table">
                        <tr>
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>USERNAME</th>
                            <th>PASSWORD</th>
                        </tr>
                        <tr ng-repeat="student in students">
                            <td>{{student.first_name}}</td>
                            <td>{{student.last_name}}</td>
                            <td>{{student.username}}</td>
                            <td>********</td>
                        </tr>
                        <tr>
                            <td><input type="text" ng-model="user.first_name" /></td>
                            <td><input type="text" ng-model="user.last_name" /></td>
                            <td><input type="text" ng-model="user.username" /></td>
                            <td><input type="password" ng-model="user.password" /></td>
                        </tr>
                    </table>
                    <button ng-click="addRow(user)" value="Add" class="button small"><strong>+</strong></button><br><br>
                    <button ng-click="submitCohort(cohort, user)" class="button special">CREATE CLASS</button>
                    <p ng-show="sent">Your class was successfully added!<p>
            </td>
            <td class="border-column">
                <ul class="list-of-links">
                    <li ng-repeat="cohort in cohorts">{{cohort}}</li>
                </ul>
            </td>
        </tr>
    </table>
</div>







