<div class="container header">
    <div class="navbar-header">
        <div class="col-md-6" id="fl-left">
            <h1><a href="/">DATA DASH</a></h1>
        </div>
        <div class="col-md-6" id="fl-right" ng-controller="LogoutController">
            <ul>
                <li><a href="/#/reports">REPORTS</a></li>
                <li><a href="/#/settings">SETTINGS</a></li>
                <li><a href="/#/logout" class="button special" ng-click="logoutUser()">LOG OUT</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="large-under-nav" ng-controller="SettingsController">
    <h2>SETTINGS</h2>
    <hr>
    <h2>ADD NEW CLASS</h2>
        <div>
            <form action="selectedAddClass">
                <input type="radio" ng-model="selectedMethod" value="upload" ng-checked="true">&nbsp;ADD CLASS VIA UPLOAD&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="selectedMethod" value="manual">&nbsp;ADD CLASS MANUALLY<br>
            </form>

        </div><br>

        <div ng-show="selectedMethod === 'upload'">

            <h3>UPLOAD FILE OF STUDENTS</h3>
                <form action="/upload2/" method="POST" enctype="multipart/form-data">
                    <input type="text" name="class_name" class="form-field" placeholder="ENTER CLASS NAME"><br><br>
                    <input type="file" name="studentfile" class="form-field"> <br>
                    <a class="special-link" ng-click="showModal()">CLICK FOR INSTRUCTIONS</a><br><br>
                    <div id="overlay" ng-show="display">
                        <h2>UPLOAD INSTRUCTIONS</h2>
                        <hr>
                        <h3>TO UPLOAD STUDENTS USING A CSV FILE:</h3>
                        <ul>
                            <li>Make sure your file is in the CSV (comma-separated values) file format.</li>
                            <li>Your file should have four column headers in this order:<br><br>
                                <table class="mini-table">
                                    <tr>
                                        <td>FIRST NAME</td>
                                        <td>LAST NAME</td>
                                        <td>USERNAME</td>
                                        <td>PASSWORD</td>
                                    </tr>
                                    <tr><td>  </td>  <td>  </td>  <td>  </td>  <td>  </td>  </tr>
                                    <tr><td>  </td>  <td>  </td>  <td>  </td>  <td>  </td>  </tr>
                                    <tr><td>  </td>  <td>  </td>  <td>  </td>  <td>  </td>  </tr>
                                </table>
                            </li>
                        </ul><br>
                        <a href class="button special" ng-click="close()">CLOSE</a>
                    </div>
                    <div id="fade" ng-show="display"></div>


                    <input type="submit" name="submit" value="CREATE CLASS" class="button special" ng-click="sentClass === true">
                </form>
        <p ng-show="sentClass">Your class was successfully added!<p>
        </div>
        <div ng-show="selectedMethod === 'manual'">
            <h3>ENTER CLASS</h3>
            <form name="class">
                <input type="text" class="form-field" placeholder="ENTER CLASS NAME" ng-model="cohort.name" /><br><br>

                <h3>ENTER STUDENTS</h3>

                <table id="add-student-table">
                    <tr>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>USERNAME</th>
                        <th>PASSWORD</th>
                    </tr>
                    <tr ng-repeat="student in students">
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.username}}</td>
                        <td>********</td>
                    </tr>
                    <tr>
                        <td><input type="text" ng-model="user.first_name" /></td>
                        <td><input type="text" ng-model="user.last_name" /></td>
                        <td><input type="text" ng-model="user.username" /></td>
                        <td><input type="password" ng-model="user.password" /></td>
                        <td><button ng-click="addRow(user)" value="Add" class="button small"><strong>+</strong></button></td>
                    </tr>
                </table><br>
                <button ng-click="submitCohort(cohort, user)" class="button special">CREATE CLASS</button>
                <p ng-show="sent">Your class was successfully added!<p>
            </form>
        </div>
    <hr>
    <h2>MY CLASSES</h2>
        <table class="big-table">
            <tr>
                <td ng-repeat="cohort in cohorts">
                    <ul class="list-of-links">
                        <li><div ng-show="!collapsed" ng-class="{'inline arrow-right' : !collapsed}"></div><div ng-show="collapsed" ng-class="{'inline arrow-down' : collapsed}"></div>&nbsp;&nbsp;<div class="inline"><a ng-model="collapsed" ng-click="collapsed=!collapsed" class="class-link">{{cohort.name}}</a></div></li>
                        <ul>
                            <li ng-repeat="student in cohort.students" ng-show="collapsed">{{student.name}}</li>
                        </ul>
                </td>
            </tr>
    </table>
</div>
