<div class="container header">
	<div class="navbar-header">
		<div class="col-md-6" id="fl-left">
			<h1><a href="/">LOOP</a></h1>
		</div>
		<div class="col-md-6" id="fl-right" ng-controller="LogoutController">
			<ul>
				<li><a href="/#/reports">REPORTS</a></li>
				<li><a href="/#/settings">SETTINGS</a></li>
				<li><a href="/#/logout" class="button special" ng-click="logoutUser()">LOG OUT</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="large-under-nav" ng-controller="SettingsController">
	<h2>SETTINGS</h2>
	<h3>Set up your classes and students.</h3><br>

	<table>
		<tr>
			<th>
				<h2>ADD CLASSES</h2>
			</th>
			<th>
				<h2>VIEW CLASSES</h2>
			</th>
		</tr>
		<tr>
			<td>
				<h4>Enter the name of a class:</h4>
				<form name="class">
						<input type="text" class="form-field" ng-model="cohort.name" />
						<button ng-click="addCohort(cohort)" class="button special">ADD CLASS</button>
				</form>
				<h4>Add a student to the class:</h4>
				<form name="student">
					<label>FIRST NAME: </label>
						<input type="text" class="form-field" ng-model="user.first_name" /><br><br>
					<label>LAST NAME: </label>
						<input type="text" class="form-field" ng-model="user.last_name" /><br><br>
					<label>USERNAME: </label>
						<input type="text" class="form-field" ng-model="user.username" /><br><br>
					<label>PASSWORD: </label>
						<input type="password" class="form-field" ng-model="user.password" /><br><br>
						<button ng-click="addStudent(user)" class="button special">ADD STUDENT</button>
				</form>
			</td>
			<td>
				<ul class="list-of-links">
					<li ng-repeat="cohort in cohorts">{{cohort}}</li>
				</ul>
			</td>
		</tr>
	</table>
</div>