<div class="container header">
	<div class="navbar-header">
		<div class="col-md-6" id="fl-left">
			<h1><a href="/">CommonClarity</a></h1>
		</div>
		<div class="col-md-6" id="fl-right">
			<ul>
				<li><a href="/#/about">ABOUT</a></li>
				<li><a href="/#/login">LOG IN</a></li>
				<li><a href="/#/signup" class="button special">SIGN UP</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Sign-up form -->
<div class="container under-nav-login-box" ng-controller="SignupController">
	<div class="sign-in-box">
	<form class="form-signin" name="newuser" method="POST">
		<h1 class="form-signin-heading">SIGN UP</h1>

		<p><label>FIRST NAME: </label>
		<input type="text" name="first_name" class="form-control form-field" ng-model="user.first_name" autofocus /></p>

		<p><label>LAST NAME: </label>
		<input type="text" name="last-name" class="form-control form-field" ng-model="user.last_name" /></p>

		<p><label>EMAIL ADDRESS: </label>
		<input type="email" name="email" class="form-control form-field" ng-model="user.email" /></p>

		<p><label>PASSWORD: </label>
		<input type="password" name="password" class="form-control form-field" ng-model="user.password" /></p>

		<p><label>RETYPE PASSWORD: </label>
		<input type="password" name="password" class="form-control form-field" ng-model="user.password" /></p><br><br>

		<button class="button special" ng-click="addUser(user)">SIGN UP</button>
	</form>

	</div>
</div>
