<div class="container header">
	<div class="navbar-header">
		<div class="col-md-6" id="fl-left">
			<h1><a href="/">LOOP</a></h1>
		</div>
		<div class="col-md-6" id="fl-right">
			<ul>
				<li><a href="/#/about">ABOUT</a></li>
				<li><a href="/#/login">LOG IN</a></li>
				<li><a href="/#/signup" class="button special"><strong>SIGN UP</strong></a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Sign-up form -->
<div class="container under-nav">
	<form class="form-signin" method="POST">
	    <h1 class="form-signin-heading">PLEASE SIGN UP</h1>
	    <p>Email: <input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus /></p>
	    <p>Password: <input type="password" name="password" class="form-control" placeholder="Password" required /></p>
	    <p>Age: <input type="age" name="age" class="form-control" placeholder="Age" /></p>
	    <p>Gender: <input type="gender" name="gender" class="form-control" placeholder="Gender" /></p>
	    <p>Zipcode: <input type="zipcode" name="zipcode" class="form-control" placeholder="Zipcode" /></p>
	    <button class="button special" type="submit">SIGN UP</button>
	</form>
</div>