<!DOCTYPE HTML>
<html lang="en" ng-app="loopApp">
    <head>
        <title>Loop</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="static/bower_components/jquery/jquery.js"></script>
        <script src="static/bower_components/angular/angular.js"></script>
<!--    <script src="bower_components/angular-animate/angular-animate.js"></script> -->
        <script src="static/bower_components/angular-route/angular-route.js"></script>
<!--    <script src="bower_components/angular-resource/angular-resource.js"></script> -->
        <script src="static/js/app.js"></script>
        <script src="static/js/controllers.js"></script>
<!--    <script src="js/animations.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script> -->
    </head>

    <body>

        <div ng-view class="view-frame"></div>

    </body>
</html>