<!DOCTYPE HTML>
<html lang="en" ng-app="loopApp">
    <head>
        <title>Loop</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
<!--    <script src="bower_components/angular-animate/angular-animate.js"></script> -->
        <script src="bower_components/angular-route/angular-route.js"></script>
<!--    <script src="bower_components/angular-resource/angular-resource.js"></script> -->
        <script src="js/app.js"></script>
<!--    <script src="js/animations.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script> -->
    </head>

	<body>
		<div class="container header">
			<div class="navbar-header">
				<div class="col-md-6" id="fl-left">
					<h1><a href="/">LOOP</a></h1>
				</div>
				<div class="col-md-6" id="fl-right">
					<ul>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/login">LOG IN</a></li>
						<li><a href="/signup" class="button special"><strong>SIGN UP</strong></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div ng-view class="view-frame"></div>

	</body>
</html>