<!DOCTYPE HTML>
<html lang="en" ng-app="loopApp">
    <head>
        <title>Loop</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="static/bower_components/angular/angular.js" type="text/javascript"></script>
        <script src="static/bower_components/angular-route/angular-route.js" type="text/javascript"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="static/js/app.js" type="text/javascript"></script>
        <script src="static/js/controllers.js" type="text/javascript"></script>
        <script src="static/js/directives.js" type="text/javascript"></script>
    </head>

    <body>

        <div ng-view class="view-frame"></div>

    </body>
</html>